In [39]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [40]:
data = pd.read_csv('Churn_Modelling.csv')

In [41]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [42]:
#pre process the data
# drop irrelevant features

data = data.drop(['RowNumber','CustomerId','Surname'], axis= 1)

In [43]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [44]:
data['Geography'].unique(), data['Gender'].unique()

(array(['France', 'Spain', 'Germany'], dtype=object),
 array(['Female', 'Male'], dtype=object))

In [45]:
# Encode categorical variable

label_encoder_gender = LabelEncoder()

data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [46]:
# One hot encoding for Geography column

from sklearn.preprocessing import OneHotEncoder

one_hot_encoder_geo = OneHotEncoder()

geo_encoder = one_hot_encoder_geo.fit_transform(data[['Geography']])

In [47]:
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [48]:
one_hot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [49]:
geo_df = pd.DataFrame(geo_encoder.toarray(), columns= one_hot_encoder_geo.get_feature_names_out(['Geography']))

In [50]:
geo_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [51]:
#combine columns o one hot encoded
data = pd.concat([data, geo_df],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,France,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,France,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [52]:
data = data.drop(columns='Geography', axis = 1)

In [53]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [54]:
# save the encoders and scaler

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('one_hot_encoder_geo.pkl' ,'wb') as file:
    pickle.dump(one_hot_encoder_geo,file)

In [55]:
# divide the dataset into dependent and independent features

data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [56]:
# divide the dataset into dependent and independent features

X = data.drop('Exited', axis=1)
y = data['Exited']

In [57]:
X.shape, y.shape

((10000, 12), (10000,))

In [58]:
#split the data in training and testing set

X_train, X_test, y_train, y_test  = train_test_split(X,y, test_size= 0.20, random_state=0)

#scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [59]:
X_train

array([[ 0.16958176, -1.09168714, -0.46460796, ..., -1.01460667,
        -0.5698444 ,  1.74309049],
       [-2.30455945,  0.91601335,  0.30102557, ..., -1.01460667,
         1.75486502, -0.57369368],
       [-1.19119591, -1.09168714, -0.94312892, ...,  0.98560362,
        -0.5698444 , -0.57369368],
       ...,
       [ 0.9015152 ,  0.91601335, -0.36890377, ...,  0.98560362,
        -0.5698444 , -0.57369368],
       [-0.62420521, -1.09168714, -0.08179119, ..., -1.01460667,
        -0.5698444 ,  1.74309049],
       [-0.28401079, -1.09168714,  0.87525072, ..., -1.01460667,
         1.75486502, -0.57369368]])

In [60]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [61]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

## ANN Implementation

In [62]:
import tensorflow as tf

In [63]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

import datetime

In [64]:
X_train.shape[1]

12

In [65]:
## Building our ANN model

model = Sequential([
    Dense(64,activation='relu', input_shape=(X_train.shape[1],)), # first hidden layer connected with input layer
    Dense(32, activation='relu'), # hidden layer 2
    Dense(1,activation='sigmoid') #output layer
]

)

/Users/sumanth/Desktop/ann_classification/ann_venv/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [66]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [67]:
#Compile the model
opt = tf.keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer = opt, loss='binary_crossentropy', metrics = ['accuracy'])

In [68]:
# Set up the Tensorboard

log_dir = 'logs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [69]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

In [70]:
# set up early stopping

early_stopping_callback = EarlyStopping(monitor= ' var_loss', patience= 10, restore_best_weights= True, mode= 'max')

In [71]:
# Training the model

history = model.fit(
    X_train, y_train, validation_data = (X_test, y_test), epochs = 100,
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8031 - loss: 0.4372 - val_accuracy: 0.8530 - val_loss: 0.3646
Epoch 2/100
184/250 ━━━━━━━━━━━━━━━━━━━━ 0s 548us/step - accuracy: 0.8628 - loss: 0.3403

/Users/sumanth/Desktop/ann_classification/ann_venv/lib/python3.11/site-packages/keras/src/callbacks/early_stopping.py:153: UserWarning: Early stopping conditioned on metric ` var_loss` which is not available. Available metrics are: accuracy,loss,val_accuracy,val_loss
  current = self.get_monitor_value(logs)

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 828us/step - accuracy: 0.8609 - loss: 0.3435 - val_accuracy: 0.8640 - val_loss: 0.3509
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8562 - loss: 0.3522 - val_accuracy: 0.8640 - val_loss: 0.3465
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 801us/step - accuracy: 0.8594 - loss: 0.3346 - val_accuracy: 0.8510 - val_loss: 0.3537
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 795us/step - accuracy: 0.8584 - loss: 0.3349 - val_accuracy: 0.8620 - val_loss: 0.3422
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.8602 - loss: 0.3367 - val_accuracy: 0.8555 - val_loss: 0.3389
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 808us/step - accuracy: 0.8638 - loss: 0.3328 - val_accuracy: 0.8585 - val_loss: 0.3466
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 805us/step - accuracy: 0.8724 - loss: 0.3253 - val_accuracy: 0.8570 - val_loss: 0.3418
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 798us/step - accuracy: 0.8677 - loss: 0.3185 - val_accuracy: 0.8615 - val_loss: 0.3431
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 800us/step - accuracy: 0.8548 - loss: 0.3359 - val_accuracy: 0.8405 - val_loss: 0.3579
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.8706 - loss: 0.3202 - val_accuracy: 0.8645 - val_loss: 0.3306
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 799us/step - accuracy: 0.8717 - loss: 0.3174 - val_accuracy: 0.8550 - val_loss: 0.3386
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 795us/step - accuracy: 0.8638 - loss: 0.3277 - val_accuracy: 0.8570 - val_loss: 0.3434
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 793us/step - accuracy: 0.8722 - loss: 0.3193 - val_accuracy: 0.8545 - val_loss: 0.3615
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 802us/step - accuracy: 0.8715 - loss: 0.3146 - val_accuracy: 0.8590 - val_loss: 0.3371
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 799us/step - accuracy: 0.8703 - loss: 0.3152 - val_accuracy: 0.8560 - val_loss: 0.3442
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 797us/step - accuracy: 0.8703 - loss: 0.3190 - val_accuracy: 0.8620 - val_loss: 0.3406
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 793us/step - accuracy: 0.8715 - loss: 0.3130 - val_accuracy: 0.8500 - val_loss: 0.3563
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.8758 - loss: 0.3069 - val_accuracy: 0.8605 - val_loss: 0.3473
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 791us/step - accuracy: 0.8757 - loss: 0.3039 - val_accuracy: 0.8590 - val_loss: 0.3413
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 795us/step - accuracy: 0.8722 - loss: 0.3061 - val_accuracy: 0.8590 - val_loss: 0.3482
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 798us/step - accuracy: 0.8610 - loss: 0.3262 - val_accuracy: 0.8535 - val_loss: 0.3697
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 797us/step - accuracy: 0.8757 - loss: 0.3039 - val_accuracy: 0.8550 - val_loss: 0.3706
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 799us/step - accuracy: 0.8825 - loss: 0.2947 - val_accuracy: 0.8455 - val_loss: 0.3898
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 787us/step - accuracy: 0.8725 - loss: 0.3058 - val_accuracy: 0.8600 - val_loss: 0.3492
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 909us/step - accuracy: 0.8792 - loss: 0.2909 - val_accuracy: 0.8595 - val_loss: 0.3514
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 793us/step - accuracy: 0.8792 - loss: 0.2897 - val_accuracy: 0.8550 - val_loss: 0.3703
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 800us/step - accuracy: 0.8814 - loss: 0.2878 - val_accuracy: 0.8610 - val_loss: 0.3572
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 798us/step - accuracy: 0.8769 - loss: 0.2857 - val_accuracy: 0.8545 - val_loss: 0.3690
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 786us/step - accuracy: 0.8852 - loss: 0.2791 - val_accuracy: 0.8560 - val_loss: 0.3756
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.8811 - loss: 0.2822 - val_accuracy: 0.8510 - val_loss: 0.3899
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 797us/step - accuracy: 0.8795 - loss: 0.2739 - val_accuracy: 0.8545 - val_loss: 0.3788
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 801us/step - accuracy: 0.8883 - loss: 0.2731 - val_accuracy: 0.8350 - val_loss: 0.4353
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 790us/step - accuracy: 0.8916 - loss: 0.2746 - val_accuracy: 0.8530 - val_loss: 0.3783
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 786us/step - accuracy: 0.8864 - loss: 0.2780 - val_accuracy: 0.8490 - val_loss: 0.4007
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.8898 - loss: 0.2684 - val_accuracy: 0.8560 - val_loss: 0.3928
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 789us/step - accuracy: 0.8913 - loss: 0.2574 - val_accuracy: 0.8525 - val_loss: 0.3901
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 802us/step - accuracy: 0.8959 - loss: 0.2631 - val_accuracy: 0.8595 - val_loss: 0.3938
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 791us/step - accuracy: 0.8937 - loss: 0.2513 - val_accuracy: 0.8510 - val_loss: 0.4231
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.8900 - loss: 0.2614 - val_accuracy: 0.8535 - val_loss: 0.4100
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 791us/step - accuracy: 0.8957 - loss: 0.2511 - val_accuracy: 0.8525 - val_loss: 0.4258
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 795us/step - accuracy: 0.8885 - loss: 0.2627 - val_accuracy: 0.8525 - val_loss: 0.4193
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 797us/step - accuracy: 0.8882 - loss: 0.2627 - val_accuracy: 0.8500 - val_loss: 0.4389
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 790us/step - accuracy: 0.8952 - loss: 0.2476 - val_accuracy: 0.8560 - val_loss: 0.4267
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 790us/step - accuracy: 0.8952 - loss: 0.2512 - val_accuracy: 0.8570 - val_loss: 0.4130
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 791us/step - accuracy: 0.8932 - loss: 0.2530 - val_accuracy: 0.8490 - val_loss: 0.4321
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 778us/step - accuracy: 0.8924 - loss: 0.2509 - val_accuracy: 0.8490 - val_loss: 0.4439
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.8984 - loss: 0.2463 - val_accuracy: 0.8495 - val_loss: 0.4503
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 786us/step - accuracy: 0.8918 - loss: 0.2508 - val_accuracy: 0.8475 - val_loss: 0.4476
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 794us/step - accuracy: 0.8904 - loss: 0.2587 - val_accuracy: 0.8445 - val_loss: 0.4593
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 779us/step - accuracy: 0.8876 - loss: 0.2532 - val_accuracy: 0.8400 - val_loss: 0.4690
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 793us/step - accuracy: 0.9006 - loss: 0.2320 - val_accuracy: 0.8515 - val_loss: 0.4500
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 801us/step - accuracy: 0.8941 - loss: 0.2460 - val_accuracy: 0.8455 - val_loss: 0.4508
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 794us/step - accuracy: 0.8974 - loss: 0.2367 - val_accuracy: 0.8440 - val_loss: 0.4613
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.8990 - loss: 0.2413 - val_accuracy: 0.8595 - val_loss: 0.4693
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 790us/step - accuracy: 0.9102 - loss: 0.2166 - val_accuracy: 0.8405 - val_loss: 0.4614
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 780us/step - accuracy: 0.8993 - loss: 0.2325 - val_accuracy: 0.8510 - val_loss: 0.4869
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 905us/step - accuracy: 0.8993 - loss: 0.2367 - val_accuracy: 0.8525 - val_loss: 0.4816
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 798us/step - accuracy: 0.9103 - loss: 0.2197 - val_accuracy: 0.8470 - val_loss: 0.5029
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.8978 - loss: 0.2329 - val_accuracy: 0.8380 - val_loss: 0.4797
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 793us/step - accuracy: 0.8960 - loss: 0.2335 - val_accuracy: 0.8445 - val_loss: 0.5016
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 778us/step - accuracy: 0.8946 - loss: 0.2282 - val_accuracy: 0.8305 - val_loss: 0.5220
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 791us/step - accuracy: 0.8994 - loss: 0.2262 - val_accuracy: 0.8460 - val_loss: 0.5431
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 786us/step - accuracy: 0.9013 - loss: 0.2246 - val_accuracy: 0.8480 - val_loss: 0.4774
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 785us/step - accuracy: 0.9060 - loss: 0.2213 - val_accuracy: 0.8395 - val_loss: 0.5177
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 779us/step - accuracy: 0.9005 - loss: 0.2218 - val_accuracy: 0.8430 - val_loss: 0.5910
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 794us/step - accuracy: 0.9061 - loss: 0.2190 - val_accuracy: 0.8400 - val_loss: 0.5285
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 786us/step - accuracy: 0.9079 - loss: 0.2114 - val_accuracy: 0.8390 - val_loss: 0.5324
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 780us/step - accuracy: 0.9057 - loss: 0.2219 - val_accuracy: 0.8460 - val_loss: 0.5375
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 784us/step - accuracy: 0.8953 - loss: 0.2303 - val_accuracy: 0.8440 - val_loss: 0.5308
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 776us/step - accuracy: 0.9085 - loss: 0.2083 - val_accuracy: 0.8370 - val_loss: 0.5456
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 837us/step - accuracy: 0.9028 - loss: 0.2191 - val_accuracy: 0.8260 - val_loss: 0.5758
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 803us/step - accuracy: 0.9062 - loss: 0.2188 - val_accuracy: 0.8410 - val_loss: 0.5294
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 781us/step - accuracy: 0.9081 - loss: 0.2115 - val_accuracy: 0.8355 - val_loss: 0.5631
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.9079 - loss: 0.2092 - val_accuracy: 0.8410 - val_loss: 0.5700
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 787us/step - accuracy: 0.9123 - loss: 0.2038 - val_accuracy: 0.8445 - val_loss: 0.5542
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 783us/step - accuracy: 0.9068 - loss: 0.2139 - val_accuracy: 0.8480 - val_loss: 0.5804
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 782us/step - accuracy: 0.9074 - loss: 0.2088 - val_accuracy: 0.8300 - val_loss: 0.6032
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 801us/step - accuracy: 0.9005 - loss: 0.2199 - val_accuracy: 0.8470 - val_loss: 0.5606
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.9048 - loss: 0.2137 - val_accuracy: 0.8375 - val_loss: 0.5775
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 798us/step - accuracy: 0.9018 - loss: 0.2215 - val_accuracy: 0.8450 - val_loss: 0.5661
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 795us/step - accuracy: 0.9073 - loss: 0.2055 - val_accuracy: 0.8300 - val_loss: 0.6170
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 912us/step - accuracy: 0.9054 - loss: 0.2160 - val_accuracy: 0.8435 - val_loss: 0.5729
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.9072 - loss: 0.2039 - val_accuracy: 0.8455 - val_loss: 0.5802
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 788us/step - accuracy: 0.9106 - loss: 0.2034 - val_accuracy: 0.8390 - val_loss: 0.6299
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 791us/step - accuracy: 0.9144 - loss: 0.2014 - val_accuracy: 0.8470 - val_loss: 0.5844
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 793us/step - accuracy: 0.9116 - loss: 0.1987 - val_accuracy: 0.8400 - val_loss: 0.6599
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 788us/step - accuracy: 0.9086 - loss: 0.2087 - val_accuracy: 0.8285 - val_loss: 0.6503
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 793us/step - accuracy: 0.9101 - loss: 0.2026 - val_accuracy: 0.8445 - val_loss: 0.6288
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 783us/step - accuracy: 0.9062 - loss: 0.2068 - val_accuracy: 0.8445 - val_loss: 0.6177
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 794us/step - accuracy: 0.9163 - loss: 0.1951 - val_accuracy: 0.8470 - val_loss: 0.6249
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 782us/step - accuracy: 0.9151 - loss: 0.1977 - val_accuracy: 0.8410 - val_loss: 0.6387
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 796us/step - accuracy: 0.9164 - loss: 0.2058 - val_accuracy: 0.8445 - val_loss: 0.6439
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 783us/step - accuracy: 0.9100 - loss: 0.2020 - val_accuracy: 0.8370 - val_loss: 0.6193
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 786us/step - accuracy: 0.9137 - loss: 0.1934 - val_accuracy: 0.8390 - val_loss: 0.6152
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.9086 - loss: 0.1967 - val_accuracy: 0.8405 - val_loss: 0.6706
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 781us/step - accuracy: 0.9104 - loss: 0.1964 - val_accuracy: 0.8385 - val_loss: 0.6253
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 789us/step - accuracy: 0.9142 - loss: 0.1962 - val_accuracy: 0.8325 - val_loss: 0.6541
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 783us/step - accuracy: 0.9100 - loss: 0.1982 - val_accuracy: 0.8320 - val_loss: 0.6627
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 794us/step - accuracy: 0.9131 - loss: 0.1949 - val_accuracy: 0.8485 - val_loss: 0.6503

In [72]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [73]:
# load tensorboard extenstion

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [74]:
%tensorboard --logdir logs/fit/

Reusing TensorBoard on port 6006 (pid 2205), started 0:11:15 ago. (Use '!kill 2205' to kill it.)

In [75]:
print('Hellpw')

Hellpw

In [76]:
# Load the pickle file